# Python
__pycache__

# Virtual Env
dev/

# VS Code Settings
.vscode/

# Mac
.DS_Store

# Build
build/

# Build Files
.colcon
ros_ws/build
ros_ws/install
ros_ws/log

# Premade Packages
ros_ws/src/example_interfaces
ros_ws/src/examples
ros_ws/src/ros_tutorials

# ROS Bags
ros_ws/bag
