<?xml version="1.0"?>
<model>
  <name>7785_maze</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>7785 Roboticist</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    Gazebo Simulation Environment for Labs 5 and 6
  </description>
</model>
